/* -----font----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* ------font------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* ------top banner section style---- */

.banner{
    background-color: rgb(38, 38, 141);
    display:flex;
}
.top-section{
    display: grid;
}
.banner-image{
    width: 556.01px;
    height: 438px; 
    padding-right: 200px;
}
.text-part{
    color: white;
    width: 50%;
    padding-left:200px ;
    padding-top: 155px;
}
.button{
    background-color: #E02C6D;
    color: white;
    width: 30px;
    text-decoration: none;
}
.img-part{
    width:50%;
    
}
.fa-arrow-right{
    color: white;
}
.banner-image:hover{ 
    transform: scale(1.1);
}
.text-part:hover{
    transform: scale(1.5);
}
/* ---------Players Part--------
 */
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .player-part1{
    background-color: #FFFFFF;
    width: 1230x;
    padding: 30px ;
    margin-top: 21px;
    border-radius: 5px; 
 }
 .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
 }
 .player .player-image img{
    width: 330px;
    height: 474px;
 }
 .player-title{
    font-weight: bold;
    font-size: 28px;
 }
 .footer-p{
     color: gray;
     text-align: center ;
 }
 .social-icon{
     align-items: center;
 }
 .fa-facebook{
     color: gray;
 }
 @media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        
    }
    .players{
        flex-direction: column;
    }
}
    
